.w {
    width: 990px;
    margin: 0 auto;
}
.search {
    input {
        height: 40px;
        width: 300px;
        text-indent: 10px;
        outline: none;
    }
}
.tb {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
    th:nth-child(1) {
        width: 200px;
    }
    th, tr {
        height: 40px;
    }
    th {
        background: #f8f8f8;
    }
    td, th {
        border-bottom: 1px solid #ccc;
    }
}